.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: fontAnimation, colorAnimate;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate{
    0%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}