.container{
    width: 600px;
    height: 300px;
    background-color: aqua;
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: auto auto;
}

.item{
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}