.container{
    width: 600px;
    height: 300px;
    background-color: aqua;
    display: grid;
    /* grid-template-rows: 80px 80px 80px;
    grid-template-columns: auto auto; */

    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 100px;
   
}

.item{
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

#one{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/span 2;
}

#two{
    /* grid-row-start: 2;
    grid-row-end: 6; */
    /* grid-row: 2/6; */
    grid-row: 2/span 3;
}